@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #f800fd 10%, #04faf6 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
    animation: fadeIn 1.5s ease-in-out;
}

.container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(243, 103, 231, 0.913);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    text-align: right;
    box-sizing: border-box;
    background: rgba(255, 253, 253, 0.5);
    color: #0f0e0e;
    outline: none;
}

.button {
    flex: 1;
    padding: 15px;
    margin: 5px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: rgba(255, 250, 250, 0.2);
    backdrop-filter: blur(20px);
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background: rgba(237, 6, 6, 0.8);
    transform: translateY(-2px);
}

.button:active {
    background: rgba(255, 255, 255, 0.6);
    transform: translateY(0);
}

.text-center {
    text-align: center;
    margin: auto;
}

.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rowAnimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes inputAnimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes buttonAnimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
